In [11]:
# List
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
valus=[i for i in list if i%2!=0]
print("The Multiple of 2 Tables\n",valus,end=" ")

The Multiple of 2 Tables
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [17]:
# Combine two Lists in the Single an its in Sorted Order
def combine(list1,list2):
    value=sorted(list1+list2)
    return value

list1=[99,34,25,6]
list2=[21,45,12,10]
print(combine(list1,list2))

[6, 10, 12, 21, 25, 34, 45, 99]

In [22]:
lis1=[-11,13,14]
lis2=[1,1,2,3,5,8,13]
lis3=[7,8,9]
values=lis1+lis2+lis3
print(sorted(values))

[-11, 1, 1, 2, 3, 5, 7, 8, 8, 9, 13, 13, 14]

In [24]:
l=[19,18,17,16,15,14]
print(l[0])
print(l[-1])

19
14

In [25]:
v=['a','e','i','o','u']
print(v[1:3])

['e', 'i']

In [27]:
toy=['doll','car','bat','car','ball','car','car']
print(toy.count('car'))

4

In [32]:
list=[400,500,210,2000]
# list.reverse()
list[1]=900
# list.sort()
print(list)

[400, 900, 210, 2000]

In [59]:

print(list.append("Apple"))
print(list)
print(list.insert(1,"PINEAPPLE"))
print(list)
print(list.extend(["Guvva","Custard Melon"]))
print(list)

None
[10, 300, 'Apple']
None
[10, 'PINEAPPLE', 300, 'Apple']
None
[10, 'PINEAPPLE', 300, 'Apple', 'Guvva', 'Custard Melon']

In [61]:
list=[]
list.append(10)
list.append(300)
list.append(20)
list.append(40)
list.append(50)
print(list)
del list[2:]
print(list)

[10, 300, 20, 40, 50]
[10, 300]