In [ ]:
# Tuples are the immutable,Tuple are maintain the order,allows duplicates,
# to define the tuple we use the ()

In [1]:
# Tuple
t=tuple()
print(t)

()

In [6]:
t=(1,2,4,5,6,7,8,9,10)
max(t)

# min(t)

10

In [21]:
t1=(1,2,3,4,5)
t2=(10,20,40)

t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 10, 20, 40)

In [11]:
t1=(1,2,3,4,5)
print("Tuple:",t1)
print(type(t1))
tu1=("one","two","three","four")
print("Tuple: ",tu1)

Tuple: (1, 2, 3, 4, 5)
<class 'tuple'>
Tuple:  ('one', 'two', 'three', 'four')

In [12]:
# Tuple Allow the Duplication
t1=(1,11,1)
print(t1)

(1, 11, 1)

In [19]:
values=("Giri","Govind","Gourav","Sandesh","Rupesh")
print(values,end=" ")

('Giri', 'Govind', 'Gourav', 'Sandesh', 'Rupesh')